$iran-sans: 'iranSans';
$font-path-eot: '../assets/fonts/iransans/IRANSansWeb.eot';
$font-path-woff2: '../assets/fonts/iransans/IRANSansWeb.woff';
$font-path-tff: '../assets/fonts/iransans/IRANSansWeb.ttf';


