
$material-icon: 'Material Icons';
$material-icon-outlined: 'Material Icons Outlined';
$material-icon-regular: 'MaterialIcons-Regular';
$material-icon-path-eot: '../assets/icons/material-icons/MaterialIcons-Regular.eot';
$material-icon-path-woff2: '../assets/icons/material-icons/MaterialIcons.woff2';
$material-icon-path-woff2-regular: '../assets/icons/material-icons/MaterialIcons-Regular.woff';
$material-icon-path-tff: '../assets/icons/material-icons/MaterialIcons-Regular.ttf';
$material-icons-outlined-woff2: '../assets/icons/material-icons/MaterialIcons-outlined.woff2';

